.stepbox{
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    background-color: #ffffff;
  }
  .stepclass{
    flex-direction: column;
    align-items: center;
    
  }
  .stepnot{
    color: #acacac;
    font-size: 25px;
    width: 25px;
  }
  .stepnotn{
    color: #acacac;
    font-size: 34px;
  }
  .stepis{
    color: #00af83;
    font-size: 25px;
    width: 25px;
    font-weight: bold;
  }
  .stepisn{
    color: #00af83;
    font-size: 34px;
    font-weight: bold;
  }
  .descrip{
    font-size: 30px;
  }
  .content{
    font-size:30px;
    margin-left: 30px;
  }
  .descripbox{
    flex-direction: row;
    justify-content: flex-start;
    width: 620px;
    margin-top: 40px;
  }

  .unseedesbox{
    flex-direction: row;
    justify-content: flex-start;
    width: 620px;
    margin-top: 40px;
    display: none;
  }


  .input{
    font-size: 32px;
    border:1px solid #5a5a5a;
    padding-left: 20px;
    border-radius: 10px;

  }

  .lable{
    font-size: 32px;
    color: #A7A7A7;
  }

  #logo{
    width: 268px;
    height: 264px;
  }

  .logocontain{
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
  }
  .optcontain{
    flex-direction: row;
    align-items: flex-start;
    margin-top: 32px;
  }
  .countryType{
    font-size: 18px;
    width: 112px;
    height: 120px;
    flex-direction: column;
    align-items:center;
    margin-right:60px;
  }
  #appname{
    font-size: 56px;
    width: 236px;
    height: 116px;
    text-align: center;
    align-items: center;
  }
  .countryName{
    align-items:center;
    text-align: center;
    font-size: 23px;
  }
  .countryImg{
    border-color: #818181;
    background-color:#7fffd4;
    border-width: 1px;
    width: 112px;
    height: 74px;
  }

  .tips{
    flex-direction: row;
    align-items: center;
    margin-top: 32px;
    width:620px;
  }

  .tipimage{
    width: 46px;
    height:46px;
  }
  
  .tiptext{
    height: 36px;
    font-size: 30px;
    margin-left: 45px;

  }

  .tiptext2line{
    font-size: 30px;
    margin-left: 45px;

  }

  .btn {
    border-radius:10px;
    background-color: #00af83;
    font-size: 38px;
    color: #ffffff;
  }

  .btnfalse {
    border-radius:10px;
    background-color: #5a5a5a;
    font-size: 30px;
    color: #ffffff;
  }

  .price{
    margin-top:60px;
    
    font-size:120px;
    color:#a52a2a;
}

.centerbox{
  justify-content:flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.columnbox{
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.data{
  flex-direction: column;
  justify-content:center;
}
  